body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
    margin: auto;
    background-color: khaki;
}

form {
    display: inline-block;
}

h1 {
    color: orangered;
}

h4 {
    color: darkred;
}

#content img {
    max-width: 720px;
    width: 100%;
    height: auto;
}