<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/main.css') }}" />
<head>
    <meta charset="UTF-8">
    <title>About Purefield</title>
</head>
<body>
<h1>Spare me the details. How does this work?</h1>
<h2>Read the strip. Select the joke the strip tells. Submit. Rinse. Repeat.</h2>
<h3>Optional: If the joke made you laugh, check off the "I Laughed!" box.</h3>
<h3><a href="{{ url_for('joke_examples') }}">Category explanations can be found here.</a></h3>
<h3>Understood? <a href="{{ url_for('garfield_analyzer') }}">Head back.</a></h3>
<h1>About The Project</h1>
<h3>What the hell is going on here?</h3>
<p>I'm glad you asked! So, there's this dope lil' video made by a fella named Super Eyepatch Wolf. It's a look into
the history of Garfield as a cultural icon, with an emphasis on his online presence. In the video, SEW decides to read
like a thousand strips to determine what the most common Garfield joke is. Problem being, well, there's 16,000+
strips. This site aims to complete that data. Through the power of the internet, we can TRULY determine the most
common Garfield joke!</p>
<h3>Okay, but why?</h3>
<h4>Let me have this.</h4>
<h3>Anything I can do to help?</h3>
<p>Spread the word! Submit responses during your free time! Submit to Garfield. Also, if you chuckled at the site idea,
  toss me a bone! Never expected, but I could use a coffee!</p>
<h5>Further Questions?</h5>
<h5>Feel free to contact me through Discord: tak#3369.</h5>
<h5>Alternatively, email <a href="mailto:dponce.c137@gmail.com">dponce.c137@gmail.com</a> for a less timely response.</h5>
</body>
