<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/main.css') }}" />
<head>
    <meta charset="UTF-8">
    <title>Joke Explanations</title>
</head>
<body>
<h1>Joke Category Explanations and Examples</h1>
<h3><a href="{{ url_for('garfield_analyzer') }}">Back to the main page.</a></h3>
<h2><a href="{{ url_for('odie') }}">"Garfield hates Odie"</a></h2>

<h2><a href="{{ url_for('gar_hurt_jon') }}">"Garfield making Jon's life difficult"</a></h2>

<h2><a href="{{ url_for('fat') }}">"Garfield is lazy/gluttonous"</a></h2>

<h2><a href="{{ url_for('spiders') }}">"Garfield hates spiders"</a></h2>

<h2><a href="{{ url_for('nermal') }}">"Garfield hates Nermal"</a></h2>

<h2><a href="{{ url_for('arlene') }}">"Garfield and Arlene"</a></h2>

<h2><a href="{{ url_for('surreal') }}">"Surreal/Absurdist"</a></h2>

<h2><a href="{{ url_for('relate') }}">"Relatable Humor"</a></h2>

<h2><a href="{{ url_for('jon_sad') }}">"Jon is a loser"</a></h2>

<h2><a href="{{ url_for('irma') }}">"Irma joke"</a></h2>

<h2><a href="{{ url_for('other') }}">"Other"</a></h2>

</body>